.title {
  letter-spacing: 6vw;
  font-size: 5vw;
  margin: 20px 0px;
}
.subtitle {
  letter-spacing: 20px;
  word-spacing: 80px;
  font-size: 20px;
}

.info {
  padding: 5px;
  /*background-color: lightsteelblue;*/
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Espacio entre las cards */
}

.card {
  width: 300px; /* Ancho de las cards */
}
