<div *ngIf="status != null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{ status!.error.message }} - {{ status!.message }}
    </div>
  </div>
</div>

<div *ngIf="status == null">
  <div class="col-12">
    <div class="d-flex justify-content-center my-3">
      <form [formGroup]="jugadorForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <mat-form-field *ngIf="operation == 'EDIT'">
            <mat-label>Id:</mat-label>
            <input
              matInput
              formControlName="id"
              placeholder="Id"
              required
              readonly
            />
            <mat-hint align="end">(no se puede cambiar este número)</mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field [style.width.px]="350">
            <mat-label>Nombre:</mat-label>
            <input
              matInput
              formControlName="nombre"
              placeholder="Nombre"
              required
            />
            <mat-hint align="end">(3 a 255 carácteres)</mat-hint>
            <mat-error *ngIf="hasError('nombre', 'required')"
              >El nombre es requerido</mat-error
            >
            <mat-error *ngIf="hasError('nombre', 'minlength')"
              >Requiere más carácteres</mat-error
            >
            <mat-error *ngIf="hasError('nombre', 'maxlength')"
              >Límite excedido</mat-error
            >
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field [style.width.px]="350">
            <mat-label>1er Apellido:</mat-label>
            <input
              matInput
              formControlName="apellido1"
              placeholder="1er Apellido"
              required
            />
            <mat-hint align="end">(3 a 255 carácteres)</mat-hint>
            <mat-error *ngIf="hasError('apellido1', 'required')"
              >1er Apellido requerido</mat-error
            >
            <mat-error *ngIf="hasError('apellido1', 'minlength')"
              >Requiere más carácteres</mat-error
            >
            <mat-error *ngIf="hasError('apellido1', 'maxlength')"
              >Límite excedido</mat-error
            >
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field [style.width.px]="350">
            <mat-label>2ndo Apellido:</mat-label>
            <input
              matInput
              formControlName="apellido2"
              placeholder="2ndo Apellido"
            />
            <mat-hint align="end">(máx. 255 carácteres)</mat-hint>
            <mat-error *ngIf="hasError('apellido2', 'maxlength')"
              >Límite excedido</mat-error
            >
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field [style.width.px]="350">
            <mat-label>Nacionalidad:</mat-label>
            <input
              matInput
              formControlName="nacionalidad"
              placeholder="Nacionalidad"
            />
            <mat-hint align="end">(máx. 255 carácteres)</mat-hint>
            <mat-error *ngIf="hasError('nacionalidad', 'maxlength')"
              >Límite excedido</mat-error
            >
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field [style.width.px]="350">
            <mat-label>Posición:</mat-label>
            <input matInput formControlName="posicion" placeholder="Posición" />
            <mat-hint align="end">(máx. 255 carácteres)</mat-hint>
            <mat-error *ngIf="hasError('posicion', 'maxlength')"
              >Límite excedido</mat-error
            >
          </mat-form-field>
        </div>
        <div class="row mb-3">
          <label for="fechaNacimiento" class="col-sm-2 col-form-label"
            >Fecha de Nacimiento:</label
          >
          <div class="col-sm-10">
            <p-calendar
              formControlName="fechaNacimiento"
              [locale]="es"
              dateFormat="dd/mm/yy"
              inputId="spanish"
              [showIcon]="true"
              [showTime]="false"
            ></p-calendar>
            <div
              *ngIf="hasError('fechaNacimiento', 'required')"
              class="text-danger"
            >
              Debes establecer una fecha válida.
            </div>
          </div>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Email:</mat-label>
            <input
              matInput
              formControlName="email"
              placeholder="Email"
              required
            />
            <mat-error *ngIf="hasError('email', 'email')"
              >Email no es válido</mat-error
            >
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Username:</mat-label>
            <input
              matInput
              formControlName="username"
              placeholder="Username"
              required
            />
            <mat-hint align="end">(6 to 15 alfanúmerico)</mat-hint>
            <mat-error *ngIf="hasError('username', 'required')"
              >Username requerido</mat-error
            >
            <mat-error *ngIf="hasError('username', 'minlength')"
              >Requiere más carácteres</mat-error
            >
            <mat-error *ngIf="hasError('username', 'maxlength')"
              >Límite excedido</mat-error
            >
            <mat-error *ngIf="hasError('username', 'pattern')"
              >Carácteres no aceptados</mat-error
            >
          </mat-form-field>
        </div>

        <mat-radio-group
          aria-label="Tipo de usuario"
          formControlName="role"
          required
        >
          <mat-radio-button [value]="true">Admin</mat-radio-button>
          <mat-radio-button [value]="false">Jugador</mat-radio-button>
          <mat-error *ngIf="hasError('role', 'required')"
            >El tipo de usuario es requerido</mat-error
          >
        </mat-radio-group>
        <div formGroupName="equipo">
          <div class="form-group">
            <mat-form-field [style.width.px]="100">
              <mat-label>Equipo:</mat-label>
              <input
                matInput
                formControlName="id"
                placeholder="Equipo"
                required
                readonly
              />
            </mat-form-field>
            <button
              class="btn btn-primary"
              type="button"
              (click)="onShowUsersSelection()"
            >
              <i class="pi pi-search"></i> Busca un equipo
            </button>
            {{ oJugador.equipo?.nombre }}
          </div>
        </div>
        <div class="text-center mt-5">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!jugadorForm.valid"
          >
            Guardar Jugador
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
