<div *ngIf="status != null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{ status!.error.message }} - {{ status!.message }}
    </div>
  </div>
</div>

<div *ngIf="status == null">
  <ng-container *ngIf="oJugador; else loadingBlock">
    <table class="table table-striped table-hover">
      <tbody>
        <tr>
          <th>Property</th>
          <th>Value</th>
        </tr>
        <tr>
          <th>id</th>
          <td>{{ oJugador.id }}</td>
        </tr>
        <tr>
          <th>nombre</th>
          <td>{{ oJugador.nombre }}</td>
        </tr>
        <tr>
          <th>apellido1</th>
          <td>{{ oJugador.apellido1 }}</td>
        </tr>
        <tr>
          <th>apellido2</th>
          <td>{{ oJugador.apellido2 }}</td>
        </tr>
        <tr>
          <th>nacionalidad</th>
          <td>{{ oJugador.nacionalidad }}</td>
        </tr>
        <tr>
          <th>posicion</th>
          <td>{{ oJugador.posicion }}</td>
        </tr>
        <tr>
          <th>fechaNacimiento</th>
          <td>{{ oJugador.fechaNacimiento }}</td>
        </tr>
        <tr>
          <th>email</th>
          <td>{{ oJugador.email }}</td>
        </tr>
        <tr>
          <th>username</th>
          <td>{{ oJugador.username }}</td>
        </tr>
        <tr>
          <th>password</th>
          <td>{{ oJugador.password }}</td>
        </tr>
        <tr>
          <th>Rol</th>
          <td>
            <span *ngIf="oJugador?.role">Admin</span>
            <span *ngIf="!oJugador?.role">User</span>
          </td>
        </tr>
        <tr>
          <th>Equipo</th>
          <td>
            {{
              oJugador !== null && oJugador !== undefined
                ? oJugador.equipo?.nombre
                : ""
            }}
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #loadingBlock>
    <div class="d-flex justify-content-center my-3">
      <p>Loading...</p>
    </div>
  </ng-template>
</div>
