<div *ngIf="status != null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{ status!.error.message }} - {{ status!.message }}
    </div>
  </div>
</div>

<div *ngIf="status == null">
  <div class="d-flex justify-content-between mb-3">
    <h3 *ngIf="equipo_id > 0">
      Filtrado por equipo ({{ equipo_id }} - {{ oEquipo?.nombre }})<a
        type="button"
        class="btn btn-danger btn-sm"
        *ngIf="equipo_id > 0"
        [routerLink]="['/admin', 'equipo', 'plist']"
        >resetear filtro</a
      >
    </h3>
    <h3>Sin filtro activo</h3>
    <h3>
      Mostrando {{ oPage?.numberOfElements }} de un total de
      {{ oPage?.totalElements }} jugadores.
    </h3>
  </div>
  <div class="flex justify-content-center mb-3">
    <p-paginator
      (onPageChange)="onPageChang($event)"
      [first]="oPaginatorState.first!"
      [rows]="oPaginatorState.rows!"
      [totalRecords]="oPage?.totalElements || 0"
      [rowsPerPageOptions]="[10, 20, 30]"
    ></p-paginator>
  </div>

  <div class="mb-5">
    <table class="table table-bordered table-striped table-hover table-sm">
      <thead>
        <tr>
          <th (click)="doOrder('id')">ID</th>
          <th (click)="doOrder('nombre')">Nombre</th>
          <th (click)="doOrder('apellido_1')">1er Apellido</th>
          <th (click)="doOrder('apellido_2')">2ndo Apellido</th>
          <th (click)="doOrder('nacionalidad')">Nacionalidad</th>
          <th (click)="doOrder('posicion')">Posición</th>
          <th (click)="doOrder('fecha_nacimiento')">Fecha de nacimiennto</th>
          <th (click)="doOrder('email')">Email</th>
          <th (click)="doOrder('username')">Username</th>
          <th (click)="doOrder('rol')">Rol</th>
          <th (click)="doOrder('equipo')">Equipo</th>
          <th>Herramientas</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let jugador of oPage?.content; let i = index"
          class="align-middle"
        >
          <td class="text-end">
            <strong>{{ jugador.id }}</strong>
          </td>
          <td>{{ jugador.nombre }}</td>
          <td>{{ jugador.apellido_1 }}</td>
          <td>{{ jugador.apellido_2 }}</td>
          <td>{{ jugador.nacionalidad }}</td>
          <td>{{ jugador.posicion }}</td>
          <td>{{ jugador.fecha_nacimiento }}</td>
          <td>{{ jugador.email }}</td>
          <td>{{ jugador.username }}</td>
          <td class="text-center">
            <span *ngIf="jugador.rol == true">Admin</span>
            <span *ngIf="jugador.rol == false">User</span>
          </td>
          <td>
            <a
              [routerLink]="[
                '/admin',
                'equipo',
                'plist',
                'byequipo',
                jugador.equipo.id
              ]"
              >({{ jugador.equipo.id }}) {{ jugador.equipo.nombre }}</a
            >
          </td>
          <td class="text-center">
            <div
              class="btn-group btn-group-sm"
              role="group"
              aria-label="Basic example"
            >
              <button
                class="btn btn-primary"
                [routerLink]="['/admin', 'jugador', 'view', jugador.id]"
              >
                <i class="pi pi-eye"></i>
              </button>
              <button class="btn btn-primary" (click)="doView(jugador)">
                <i class="pi pi-arrow-circle-up"></i>
              </button>
              <button
                class="btn btn-warning"
                [routerLink]="['/admin', 'jugador', 'edit', jugador.id]"
              >
                <i class="pi pi-pencil"></i>
              </button>
              <!-- La lógica de las claves ajenas no se si puede afectar aquí -->
              <button
                *ngIf="!jugador.equipo.id"
                class="btn btn-danger"
                (click)="doRemove(jugador)"
              >
                <i class="pi pi-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<p-confirmDialog #cd [style]="{ width: '30vw' }">
  <ng-template pTemplate="header">
    <h5>
      <i class="pi pi-exclamation-triangle p-mr-3" style="font-size: 2rem"></i>
      Eliminación de Jugador
    </h5>
  </ng-template>
  <ng-template pTemplate="message">
    <div class="container d-flex align-items-center justify-content-center">
      <app-admin-jugador-detail-unrouted
        [id]="oJugadorToRemove!.id"
      ></app-admin-jugador-detail-unrouted>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p>¿Estás seguro de que quieres eliminar este jugador?</p>
    <button
      class="btn btn-primary mx-1"
      pButton
      icon="pi pi-times"
      label="No"
      (click)="cd.reject()"
    ></button>
    <button
      class="btn btn-danger mx-1"
      pButton
      icon="pi pi-check"
      label="Yes"
      (click)="cd.accept()"
    ></button>
  </ng-template>
</p-confirmDialog>
