<div *ngIf="status != null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{ status!.error.message }} - {{ status!.message }}
    </div>
  </div>
</div>

<div *ngIf="status == null">
  <div class="col-12">
    <div class="d-flex justify-content-center my-3">
      <form [formGroup]="equipoForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <mat-form-field *ngIf="operation == 'EDIT'">
            <mat-label>Id:</mat-label>
            <input
              matInput
              formControlName="id"
              placeholder="ID"
              required
              readonly
            />
            <mat-hint align="end">(no se puede cambiar este número)</mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field [style.width.px]="350">
            <mat-label>Nombre:</mat-label>
            <input
              matInput
              formControlName="nombre"
              placeholder="Name"
              required
            />
            <mat-hint align="end">(1 a 255 carácteres)</mat-hint>
            <mat-error *ngIf="hasError('nombre', 'required')"
              >El nombre es requerido</mat-error
            >
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field [style.width.px]="350">
            <mat-label>País de origen:</mat-label>
            <input
              matInput
              formControlName="paisOrigen"
              placeholder="País de origen"
              required
            />
            <mat-error *ngIf="hasError('paisOrigen', 'required')"
              >El país es requerido</mat-error
            >
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field [style.width.px]="350">
            <mat-label>Ciudad de origen:</mat-label>
            <input
              matInput
              formControlName="ciudadOrigen"
              placeholder="Ciudad de origen"
            />
          </mat-form-field>
        </div>
        <div class="row mb-3">
          <label for="fechaFundacion" class="col-sm-2 col-form-label"
            >Fecha de Fundación:</label
          >
          <div class="col-sm-10">
            <p-calendar
              formControlName="fechaFundacion"
              [locale]="es"
              dateFormat="dd/mm/yy"
              inputId="spanish"
              [showIcon]="true"
              [showTime]="false"
            ></p-calendar>
            <div
              *ngIf="hasError('fechaFundacion', 'required')"
              class="text-danger"
            >
              Debes establecer una fecha válida.
            </div>
          </div>
        </div>
        <div class="form-group">
          <mat-form-field [style.width.px]="350">
            <mat-label>Entrenador:</mat-label>
            <input
              matInput
              formControlName="entrenador"
              placeholder="Entrenador"
            />
          </mat-form-field>
        </div>
        <div class="text-center mt-5">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!equipoForm.valid"
          >
            Guardar Equipo
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
